<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Select All Checkbox Column -->
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [checked]="selectedRows.size > 0 && selectedRows.size === paginatedRows.length"
          [indeterminate]="selectedRows.size > 0 && selectedRows.size < paginatedRows.length"
          (change)="toggleSelectAll($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-checkbox [checked]="selectedRows.has(i)" (change)="toggleSelection(i, row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Dynamic Columns -->
    <ng-container *ngFor="let header of displayedColumns" [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ header | translate }}
        <mat-icon class="info-icon" *ngIf="header === 'Created By' || header === 'Updated By'"
          (click)="$event.stopPropagation(); toggleColumn(header === 'Created By' ? 'Created Date' : 'Updated Date')">
          {{ displayedColumns.includes(header === 'Created By' ? 'Created Date' : 'Updated Date') ? 'unfold_less' :
          'unfold_more' }}
        </mat-icon>
      </th>
      <td mat-cell *matCellDef="let entity">
        <ng-container *ngIf="header === 'Created Date' || header === 'Updated Date'; else mandatoryCell">
          {{ entity[header] | date: 'short' }}
        </ng-container>
        <ng-template #mandatoryCell>
          <ng-container *ngIf="header === 'Mandatory'; else normalCell">
            <span class="badge" [ngClass]="entity['IsRequired'] ? 'badge-indigo' : 'badge-ghost'">
              {{ (entity['IsRequired'] ? 'True' : 'False') | translate }}
            </span>
          </ng-container>
        </ng-template>
        <ng-template #normalCell>
          <span
            [class.simple-text]="header === 'Code' || header === 'Factor Name' || header === 'Name' || header === 'Product Name' || header === 'Parameter Name'">
            {{ entity[header] }}
          </span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
      <td mat-cell *matCellDef="let row">
        <div class="cell-actions">
          <mat-icon class="clickable-icon edit"
            (click)="$event.stopPropagation(); actionEvent.emit({ action: 'edit', data: row })"
            matTooltip="{{ 'Edit' | translate }}" *ngIf="hasPermission(editPermissionId)">edit_note</mat-icon>

          <mat-icon class="clickable-icon delete" (click)="$event.stopPropagation(); deleterow(row)"
            matTooltip="{{ 'Delete' | translate }}" *ngIf="hasPermission(deletePermissionId)">delete_outline</mat-icon>

          <mat-icon *ngIf="hasValidationAction && hasPermission(validatePermissionId)" class="clickable-icon validate"
            (click)="$event.stopPropagation(); actionEvent.emit({ action: 'validate', data: row })"
            matTooltip="{{ 'Validate' | translate }}">check_circle_outline</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="finalColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: finalColumns;"
      [class.selected-row]="selectedRows.has(paginatedRows.indexOf(row))"></tr>

  </table>
</div>

<mat-paginator class="paginator" [length]="rows.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
  (page)="onPageChange($event)">
</mat-paginator>