.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-factor-form {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 5px;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-field {
  flex: 1 1 200px;
  max-width: 200px;
  margin-right: 25px;
}

.form-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.mat-elevation-z8 {
  margin-top: 1rem;
}

// -----------------NEW CSS-------------------------------------------------

.moduleLabel {
  font-size: 20px;
  font-weight: 500;
}

.bgColorWhite {
  background-color: #f8f8f8;
}
.cellStyling {
  border-bottom: 5px solid white !important;
}

.tableHeader {
  background-color: #f8f8f8;
  color: #1CAEC8;
  font-size: 16px;
  //font-weight: 600;
}
table {
  width: 100%;
  background-color: #f8f8f8;
}

table tr.select-row {
  background-color: #f8f8f8 !important; 
  color: #17355A;
  font-size: 14px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents table from wrapping */
}

.table-wrapper table {
  min-width: 1000px; /* Ensures table doesn't shrink too much */
  width: 100%;
}

.paginator {
  background-color: white;
}

table tr.select-row:hover {
  cursor: pointer;
}

.table {
  margin-top: 20px;
}

