.container {
  padding: 20px;
}

// table {
//     width: 100%;
//     background-color: none;

//     .select-row:hover {
//         cursor: pointer;
//     }
// }

// .table {
//     margin-top: 20px;
// }

.dropdown-menu {
  display: block;
  position: absolute;
}

// 

.card {
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-spacing button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
    /* Remove margin for the last button */
  }
}

.clickable-icon {
  cursor: pointer;
  /* Makes the icon clickable */
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
    /* Slight zoom effect on hover */
  }
}









.table {
  margin-top: 20px;
}

.file-input {
  height: 2.4rem;
  border-style: groove;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}





.overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  /* semi-transparent overlay */
  z-index: 1000;
}