<div class="mb-3">
    <div>
        <p class="moduleLabel mb-2">{{ 'Product Cards' | translate }}</p>
    </div>

    <!-- Search and Actions Section -->
    <div class="filter-bar">
        <div class="search-box">
            <mat-icon>search</mat-icon>
            <input type="text" class="filter-input" (input)="applyFilter()" [(ngModel)]="searchTerm"
                placeholder="{{ 'Search Product Cards' | translate }}" />
        </div>

        <div class="action-group">
            <button appUseractivity="User Click on Add button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="clickable-icon" (click)="insertNewRecord()"
                *ngIf="hasPermission('Permissions.PCard.Create')">
                <mat-icon matTooltip="{{ 'Add' | translate }}">add_circle_outline</mat-icon>
            </button>
            <button appUseractivity="User Click on Add button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="clickable-icon" (click)="downloadTemplate()">
                <mat-icon matTooltip="{{ 'Download Template' | translate }}">cloud_download</mat-icon>
            </button>
            <button appUseractivity="User Click on Import button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="clickable-icon" (click)="fileInput.click()"
                *ngIf="hasPermission('Permissions.PCard.Import')">
                <mat-icon matTooltip="{{ 'Import' | translate }}">upload</mat-icon>
            </button>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
            <button appUseractivity="User Click on Export button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="clickable-icon" (click)="exportPCards()"
                *ngIf="hasPermission('Permissions.PCard.Export')">
                <mat-icon matTooltip="{{ 'Export' | translate }}">download</mat-icon>
            </button>
            <button appUseractivity="User Click on Delete button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" (click)="deleteCheckedMultipleCards()" class="clickable-icon"
                *ngIf="hasPermission('Permissions.PCard.Delete')">
                <mat-icon matTooltip="{{ 'Delete' | translate }}">delete_outline</mat-icon>
            </button>
        </div>
    </div>
</div>

<div *ngIf="formVisible" class="card p-3 mb-3">
    <form [formGroup]="expressionForm" (ngSubmit)="submit()">
        <div class="row mb-3">
            <div class="col-3">
                <label class="inputLabel">{{ 'Product Card Name' | translate }} <span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="ProductCardName" (input)="sanitizeCode($event)"
                    maxlength="50" />
                <div *ngIf="expressionForm.get('ProductCardName')?.invalid && expressionForm.get('ProductCardName')?.touched"
                    class="text-danger">
                    {{ 'Product Card Name' | translate }}{{ ' is required' | translate }}
                </div>
            </div>
            <div class="col-2">
                <label class="inputLabel">{{ 'Description' | translate }} <span class="text-danger"></span></label>
                <input type="text" class="form-control" formControlName="Description" (input)="sanitizeCode($event)"
                    maxlength="50" />
                <!-- <div *ngIf="expressionForm.get('Description')?.invalid && expressionForm.get('Description')?.touched"
                    class="text-danger">
                    {{ 'Description' | translate }}{{ ' is required' | translate }}
                </div> -->
            </div>
            <div class="col">
                <label class="inputLabel">{{ 'Product' | translate }} <span class="text-danger">*</span></label>
                <select #productSelect class="form-control" formControlName="Product">
                    <option value="null" disabled selected>{{ 'Product' | translate }}</option>
                    <option *ngFor="let product of productsList" [value]="product.productId">{{
                        product.productName }}</option>
                </select>
                <div *ngIf="expressionForm.get('Product')?.invalid && expressionForm.get('Product')?.touched"
                    class="text-danger">
                    {{ 'Select Product' | translate }}
                </div>
            </div>
            <!--<div class="col-2">
                <label class="inputLabel">{{ 'Maximum Amount' | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="MaximumAmount" (input)="sanitizeCode($event)" (keypress)="validateValueInput($event)"
                (paste)="onPasteValue($event)" />
                <div *ngIf="expressionForm.get('MaximumAmount')?.invalid && expressionForm.get('MaximumAmount')?.touched"
                    class="text-danger">
                    {{ 'Maximum Amount' | translate }}{{ ' is required' | translate }}
                </div>
            </div>-->
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="inputLabel">{{ 'Open Parenthesis' | translate }}</label>
                <select #openParenthesisSelect class="form-control" (change)="onSelect('openParenthesis', $event)"
                    [disabled]="isOpenParenthesis">
                    <option value="" disabled selected>{{ '--Open Parenthesis--' | translate }}</option>
                    <option *ngFor="let item of openParenthesis" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="col">
                <label class="inputLabel">{{ 'Cards' | translate }}</label>
                <select #cardsSelect class="form-control" (change)="onSelect('cards', $event)"
                    [disabled]="isCardsDisabled">
                    <option value="" disabled selected>{{ '--Cards--' | translate }}</option>
                    <option *ngFor="let card of cards" [value]="card.name">{{ card.name }}</option>
                </select>
            </div>
            <div class="col">
                <label class="inputLabel">{{ 'Function' | translate }}</label>
                <select class="form-control" [disabled]="isLogicalOperator" (change)="onSelect('function', $event)">
                    <option value="" disabled selected>{{ 'Function' | translate }}</option>
                    <option *ngFor="let logical of function" [value]="logical">{{ logical }}</option>
                </select>
            </div>
            <div class="col">
                <label class="inputLabel">{{ 'Close Parenthesis' | translate }}</label>
                <select #closeParenthesisSelect class="form-control" (change)="onSelect('closeParenthesis', $event)"
                    [disabled]="isCloseParenthesis">
                    <option value="" disabled selected>{{ '--Close Parenthesis--' | translate }}</option>
                    <option *ngFor="let item of closeParenthesis" [value]="item">{{ item }}</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
            <!-- Expression Textarea -->
            <textarea formControlName="Expshown" class="flex-grow-1" readonly>{{ expshown }}</textarea>

            <!-- Buttons -->
            <button appUseractivity="User Click on Clear Expression button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="clearBtn" type="button" mat-raised-button
                (click)="resetExpression()">{{ 'Clear' | translate }}</button>
            <button appUseractivity="User Click on Remove Last item button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="removeBtn" type="button" mat-raised-button
                (click)="removeLastItem()">{{ 'Remove' | translate }}</button>
            <button appUseractivity="User Click on Validate button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="addBtn me-2" type="button" mat-flat-button
                style="background-color: var(--teal) !important; color: white !important;"
                (click)="openValidatorDialog(expshown)">
                {{ 'Validate' | translate }}
            </button>
            <button [appUseractivity]="isInsertNewRecord ? 'Add button clicked' : 'Update button clicked'"
                [componentName]="'ProductCardsComponent'" [actionType]="'FormSubmit'" class="addBtn" type="submit"
                mat-flat-button [disabled]="expressionForm.invalid">
                {{ isInsertNewRecord ? ('Add' | translate) : ('Update' | translate) }}
            </button>
            <button appUseractivity="User Click on Cancel button" [componentName]="'ProductCardsComponent'"
                [actionType]="'ButtonClick'" class="cancelBtn" type="button" mat-raised-button
                (click)="cancelEvent()">{{ 'Cancel' | translate }}</button>
        </div>
        <div *ngIf="selectedCard.length > 0" class="mt-3">
            <div class="table-wrapper">
                <table class="mat-mdc-table w-100" style="background: white !important;">
                    <thead class="mat-mdc-header-row">
                        <tr>
                            <th class="mat-mdc-header-cell ps-3"> {{ 'Card Name' | translate }}</th>
                            <th class="mat-mdc-header-cell ps-3">{{ 'Card Expression' | translate }}</th>
                            <th class="mat-mdc-header-cell ps-3">{{ 'Rule Expression' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mat-mdc-row" *ngFor="let rule of selectedCard">
                            <td class="mat-mdc-cell ps-3">{{ rule.name }}</td>
                            <td class="mat-mdc-cell ps-3">{{ rule.expshown }}</td>
                            <td class="mat-mdc-cell ps-3">{{ rule.ruleExpshown }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper mt-3">
                <table class="mat-mdc-table w-100" style="background: white !important;">
                    <thead class="mat-mdc-header-row">
                        <tr>
                            <th class="mat-mdc-header-cell ps-3">{{ 'Equivalent' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mat-mdc-row">
                            <td class="mat-mdc-cell ps-3">{{ combinevalue }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<app-table *ngIf="!loading" #tableChild [cols]="productCardsColumnsAry" [checkedSelectedId]="deleteKeyForMultiple"
    [displayedColumns]="productCardsColumnsAry" [rows]="filteredProductCardsList" [header]="cardsHeaderAry"
    (actionEvent)="tableRowAction($event)" [hasValidationAction]="true" [editPermissionId]="'Permissions.PCard.Edit'"
    [deletePermissionId]="'Permissions.PCard.Delete'" [validatePermissionId]="'120'"
    [defaultSortColumn]="'Created Date'" [defaultSortDirection]="'desc'">
</app-table>

<!-- Full-page Loader -->
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>

<!-- <div *ngIf="loading" class="text-center my-4">
  <div class="loading-container" role="status">
    <span class="">Loading data, please wait...</span>
  </div>
</div> -->
