<div class="viewport-container">
  <div class="login-container">
    <div fxFlex></div>
    <br>
    <br>
    <br>

    <div class="login-wrapper">
      <mat-card class="card-wrap" appearance="outlined">
        <div class="logo-container">
          <!-- <img src="https://www.sdb.gov.sa/sdb/media/sdb/sdblogo-en.png" alt="SDB Logo" class="logo"> -->
        </div>
        <h2 class="fancy-title">{{ 'Forgot Password' | translate }}</h2>
        <form fxLayout="column" [formGroup]="forgetForm" (ngSubmit)="onSubmit()" class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>{{ 'Password' | translate }}</mat-label>
            <input type="password" matInput formControlName="password"
              placeholder="{{ 'Enter your password' | translate }}" />
            <mat-error *ngIf="forgetForm.get('password')?.hasError('required')">
              {{ 'Password is' | translate }} <strong>{{ 'required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="forgetForm.get('password')?.hasError('minlength')">
              {{ 'Password must be at least 6 characters long' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>{{ 'Confirm Password' | translate }}</mat-label>
            <input type="password" matInput formControlName="confirmpassword"
              placeholder="{{ 'Confirm your password' | translate }}" />
            <mat-error *ngIf="forgetForm.get('confirmpassword')?.hasError('required')">
              {{ 'Confirm Password is' | translate }} <strong>{{ 'required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="forgetForm.hasError('passwordMismatch')">
              {{ 'Passwords must' | translate }} <strong>{{ 'match' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div class="btn-sumit">
            <button mat-flat-button color="primary" appUseractivity="User Click on submit button"
              [componentName]="'ForgetPasswordComponent'" [actionType]="'SubmitForm'" [disabled]="!forgetForm.valid">
              {{ 'Submit' | translate }}
            </button>
          </div>
          <div class="btn-sumit">
            <button mat-flat-button color="white" appUseractivity="User Click on Back to login button"
              [componentName]="'ProductCapComponent'" [actionType]="'ButtonClick'" type="button"
              (click)="navigateToLogin()">
              {{ 'Back to Login' | translate }}
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="cover">
    <div class="cover-content">
      <h1 class="mat-display-1 cover-title">{{ 'SDB Eligibility Backend' | translate }}</h1>
      <p class="mat-headline cover-description">
        {{ 'An Eligibility System integrated with a Service Data Bus streamlines decision-making processes by
        integrating multiple data sources, applying configurable business rules, and delivering transparent results. It
        reduces complexity by decoupling core logic from underlying services and ensures quick updates to eligibility
        criteria without IT overhauls. This ultimately improves customer experience, operational efficiency, and
        compliance adherence' | translate }}
      </p>
    </div>
  </div>
</div>