.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card-wrap {
    display: table-column;
    width: 550px;
    padding: 15px;
  }

  .example-form {
    display: grid;
    gap: 15px;
  }

  .btn-sumit {
    display: flex;
    justify-content: center;
    
  }
}

.viewport-container {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  margin: 10px;
  border: 10px solid rgba(232, 237, 238, 0.932);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.cover {
  position: relative;
  width: 80%;
  height: 100%;
//   background: url("../../../../assets/images/SDBBG_2.png") no-repeat center left;
  background-size: cover;
  z-index: 0;
}
.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover-content {
  position: relative;
  z-index: 2;
  max-width: 80%;
  margin: 100px auto;
  color: #fff;
  text-align: justify;
}

.cover-title {
  border-bottom: 2px solid #fff;
  margin: 0 0 20px;
  padding-bottom: 10px;
}

.cover-description .cover-link {
  text-decoration: underline;
  color: #fff;
}

.cover-description .cover-link:hover {
  color: #d3d3d3;
}

.login-container {
  position: relative;
  width: 40%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 20px 20px 40px;
  border-radius: 10px;
  margin: auto 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.logo-container {
  text-align: center;
  margin-bottom: 1.5em;
}

.logo {
  max-width: 265px;
  height: auto;
}

.fancy-title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}