<div class="row mb-4">
  <div class="col">
    <h5 class="">{{ 'Log' | translate }}</h5>
  </div>
</div>

<div #auditLogTable class="mat-elevation-z8 table-container">
  <table class="bgColorWhite" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{ 'Id' | translate }} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.id }} </td>
    </ng-container>
    <ng-container matColumnDef="message">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Message' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.message }} </td>
    </ng-container>
    <!-- Table Name Column -->
    <!--<ng-container matColumnDef="messageTemplate">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Message Template' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.messageTemplate }} </td>
    </ng-container>-->
    <!--<ng-container matColumnDef="fieldName">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Field Name' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.fieldName }} </td>
    </ng-container>-->
    <!-- Action Column -->
    <ng-container matColumnDef="level">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Log Level' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.level }} </td>
    </ng-container>

    <!--<ng-container matColumnDef="oldValue">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Old Value' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row">
        {{row.oldValue}}
      </td>
    </ng-container>
    <ng-container matColumnDef="newValue">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'New Value' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.newValue }} </td>
    </ng-container>-->
    <ng-container matColumnDef="timeStamp">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Time Stamp' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.timeStamp |date:'M/d/yy, h:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="exception">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Exception Message' | translate}}
      </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ row.exception }} </td>
    </ng-container>
    <!--<ng-container matColumnDef="properties">
      <th mat-sort-header class="cellStyling" mat-header-cell *matHeaderCellDef> {{'Properties' | translate}} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row"> {{ 'row.properties'}} </td>
    </ng-container>-->
    <!-- Actions Column -->

    <ng-container matColumnDef="Actions">
      <th class="cellStyling" mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
      <td class="cellStyling" mat-cell *matCellDef="let row">

        <!-- View Icon -->
        <!--<mat-icon class="clickable-icon" color="primary" style="margin-right: 8px"
                  (click)="openDetailsDialog(row)"
                  matTooltip="{{ 'View Details' | translate }}">
          visibility
        </mat-icon>-->



      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row"></tr>

  </table>
  <div *ngIf="LoadAudit" class="loading-container">
    <p>{{ 'Loading data, please wait...' | translate }}</p>
  </div>
  <mat-paginator #paginator class="paginator" [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>
<p *ngIf="dataSource.data.length === 0 && LoadAudit===false">{{ 'No Log records found.' | translate }}</p>
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>