<!-- Product Cap Title -->
<div class="row mb-4">
  <div class="col">
    <h5 class="">Maximum Percentage Per Stream</h5>
  </div>
</div>

<!-- Product Selector -->
<div class="card p-3" *ngIf="isDataReady">
  <form [formGroup]="ProductCapForm">
    <div class="row mb-3">
      <div class="col-4">
        <label class="inputLabel">{{ 'Select Stream' | translate }}</label>
        <select class="form-control" formControlName="productID">
          <option value="" disabled>{{ 'Choose Stream' | translate }}</option>
          <option *ngFor="let product of productsList" [value]="product.productId">
            {{ product.productName }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Loading Message -->
<div *ngIf="!isDataReady" class="loading-container">
  <p>Loading data, please wait...</p>
</div>

<!-- Add/Edit Form -->
<div class="card p-3" *ngIf="formvisible">
  <form [formGroup]="ProductCapForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3 align-items-start">
      <input type="number" hidden class="form-control" formControlName="id" />

      <!-- Minimum Score -->
      <div class="col-md-4">
        <label class="inputLabel">Minimum Score <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="minimumScore" step="1" pattern="[0-9]*"
          (input)="validateMinMax()" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('minimumScore')?.touched && ProductCapForm.get('minimumScore')?.hasError('required')">
          Minimum Score is required.
        </div>
        <!-- <div class="text-danger" *ngIf="ProductCapForm.get('minimumScore')?.hasError('pattern')">
          Only whole numbers are allowed.
        </div> -->
      </div>

      <!-- Maximum Score -->
      <div class="col-md-4">
        <label class="inputLabel">Maximum Score <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="maximumScore" step="1" pattern="[0-9]*"
          (input)="validateMinMax()" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('maximumScore')?.touched && ProductCapForm.get('maximumScore')?.hasError('required')">
          Maximum Score is required.
        </div>
        <div class="text-danger" *ngIf="ProductCapForm.errors?.['maxLessThanMin'] &&
            (ProductCapForm.get('maximumScore')?.touched || ProductCapForm.get('maximumScore')?.dirty)">
          Maximum Score must be greater than or equal to Minimum Score.
        </div>
      </div>

      <!-- Product Cap -->
      <div class="col-md-4">
        <label class="inputLabel">Stream Cap (%) <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="productCapPercentage" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('productCapPercentage')?.touched && ProductCapForm.get('productCapPercentage')?.hasError('required')">
          Product Cap is required.
        </div>
        <div class="text-danger" *ngIf="ProductCapForm.get('productCapPercentage')?.hasError('pattern')">
          Only numbers with up to 2 decimal places are allowed.
        </div>
      </div>

      <!-- Custom validation message in one line -->
      <div class="col-12 text-danger mt-2" *ngIf="showMinMaxError">
        Minimum Score must be less than or equal to Maximum Score.
      </div>

      <input type="hidden" formControlName="productName" />
    </div>

    <!-- <div class="row mb-3">

    </div> -->

    <!-- Buttons -->
    <div class="text-end">
      <button class="addBtn btn-primary me-2"  [appUseractivity]="!isEditMode ? 'Add button clicked' : 'Update button clicked'"
              [componentName]="'ProductCapComponent'"
              [actionType]="'FormSubmit'"
              type="submit"
              [disabled]="ProductCapForm.invalid">
        {{ isEditMode ? 'Update' : 'Add' }}
      </button>
      <button appUseractivity="User Click on cancel button"
              [componentName]="'ProductCapComponent'"
              [actionType]="'ButtonClick'"class="btn-secondary cancelBtn" type="button" (click)="resetForm()">Cancel</button>
    </div>
  </form>
</div>


<!-- Product Cap List Section -->
<div *ngIf="ProductCapForm.get('productID')?.value" class="card p-3">

  <!-- Add Button -->
  <div class="mb-3 d-flex justify-content-start">
    <button mat-raised-button color="primary" appUseractivity="User Click on Add Stream Cap Score button"
              [componentName]="'ProductCapComponent'"
              [actionType]="'ButtonClick'" (click)="addProductCap()" matTooltip="Add Stream Cap Score">
      <mat-icon>add</mat-icon> Add New
    </button>
  </div>
  <div #entityTable class="table-wrapper">
    <!-- Table if data exists -->
    <table class="bgColorWhite mat-elevation-z8" *ngIf="selectedProductData.length > 0" mat-table
      [dataSource]="selectedProductData">

      <!-- Optional ID column -->
      <ng-container hidden matColumnDef="id">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Id</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="ProductName">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Stream Name</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <ng-container matColumnDef="ProductCap">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Stream Cap(%)</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">{{ element.productCapPercentage }}</td>
      </ng-container>

      <ng-container matColumnDef="MinimumScore">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Minimum Score</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">{{ element.minimumScore }}</td>
      </ng-container>

      <ng-container matColumnDef="MaximumScore">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Maximum Score</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">{{ element.maximumScore }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="cellStyling" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="cellStyling" mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" appUseractivity="User Click on edit Stream Cap Score button"
              [componentName]="'ProductCapComponent'"
              [actionType]="'ButtonClick'" (click)="editProductCap(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn"appUseractivity="User Click on delete Stream Cap Score button"
              [componentName]="'ProductCapComponent'"
              [actionType]="'ButtonClick'" (click)="deleteProductCap(element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="select-row"></tr>
    </table>
  </div>
  <!-- Message when no data -->
  <div *ngIf="selectedProductData.length === 0" class="text-center text-muted mt-3">
    <p>No Stream Cap Score available for the selected Stream.</p>
  </div>
</div>
