.moduleLabel {
  font-size: 11px;
  font-weight: 700;
  color: var(--text-3);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 24px !important;
  display: block;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 20px;


  .action-group {
    display: flex;
    gap: 8px;
  }
}

.tab-nav {
  margin-bottom: 24px;
}