<div class="products-page">
  <span class="moduleLabel">{{ 'Products' | translate }}</span>

  <!-- Search and Actions Top Bar -->
  <div class="top-bar">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" class="filter-input" placeholder="{{ 'Search' | translate }}"
        [(ngModel)]="searchTerms[activeTab]" (input)="applyFilter()" />
    </div>

    <div class="action-group">
      <button appUseractivity="User Click on Add button" [componentName]="'ProductComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="insertNewRecord()" *ngIf="getAddPermission()">
        <mat-icon matTooltip="{{ 'Add' | translate }}">add_circle_outline</mat-icon>
      </button>

      <button appUseractivity="User Click on Download Template button" [componentName]="'ProductComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="downloadTemplate()" *ngIf="getImportPermission()">
        <mat-icon matTooltip="{{ 'Download Template' | translate }}">cloud_download</mat-icon>
      </button>

      <button appUseractivity="User Click on Import button" [componentName]="'ProductComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="fileInput.click()" *ngIf="getImportPermission()">
        <mat-icon matTooltip="{{ 'Import' | translate }}">upload</mat-icon>
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />

      <button appUseractivity="User Click on Export button" [componentName]="'ProductComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="productListChiild.exportProducts()"
        *ngIf="getExportPermission()">
        <mat-icon matTooltip="{{ 'Export' | translate }}">download</mat-icon>
      </button>

      <button appUseractivity="User Click on Delete button" [componentName]="'ProductComponent'"
        [actionType]="'ButtonClick'" (click)="productListChiild.deleteMultiple()" class="clickable-icon"
        *ngIf="getDeletePermission()">
        <mat-icon matTooltip="{{ 'Delete' | translate }}">delete_outline</mat-icon>
      </button>
    </div>
  </div>

  <!-- Redesigned Tabs -->
  <div class="tab-bar tab-nav">
    <div class="tab-item" [class.active]="activeTab === 'Category'" (click)="switchTab('Category')">
      {{ 'Category' | translate }}
    </div>
    <div class="tab-item" [class.active]="activeTab === 'Info'" (click)="switchTab('Info')">
      {{ 'Product' | translate }}
    </div>
  </div>

  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="'Category'">
      <app-product-list #productChild (updateTableRows)="categoryTableDataUpdate($event)"
        [columnsDisplayAry]="categoryTableColumnAry" [headerDisplayAry]="categoryTableHeaderAry"
        [listAry]="categoriesList" [editPermissionId]="'Permissions.Category.Edit'"
        [deletePermissionId]="'Permissions.Category.Delete'" [currentTab]="activeTab">
      </app-product-list>
    </div>

    <div *ngSwitchCase="'Info'">
      <app-product-list #productChild (updateTableRows)="categoryTableDataUpdate($event)"
        [columnsDisplayAry]="infoTableColumnAry" [headerDisplayAry]="infoTableHeaderAry" [listAry]="infoList"
        [currentTab]="activeTab" [categoryList]="categoriesList" [editPermissionId]="'Permissions.Product.Edit'"
        [deletePermissionId]="'Permissions.Product.Delete'">
      </app-product-list>
    </div>

    <div *ngSwitchCase="'Details'">
      <app-product-list #productChild (updateTableRows)="categoryTableDataUpdate($event)"
        [columnsDisplayAry]="detailsTableColumnAry" [headerDisplayAry]="detailsTableHeaderAry" [listAry]="detailsList"
        [productList]="infoList" [currentTab]="activeTab" [editPermissionId]="'113'" [deletePermissionId]="'114'">
      </app-product-list>
    </div>
  </div>

  <app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>
</div>