<div class="mb-3">
    <div>
        <p class="moduleLabel mb-2">{{ 'Products' | translate }}</p>
    </div>

    <!-- Search and Actions Section -->
    <div class="d-flex justify-content-between align-items-center">
        <!-- Search Input -->
        <div class="position-relative" style="flex-grow: 1; max-width: 350px;">
            <input type="text" class="form-control me-2" style="width: 300px;" placeholder="{{ 'Search' | translate }}"
                [(ngModel)]="searchTerms[activeTab]" (input)="applyFilter()" />
        </div>

        <!-- Actions Buttons -->
        <div class="d-flex align-items-center ms-3">
            <button  appUseractivity="User Click on Add button"
              [componentName]="'ProductComponent'"
              [actionType]="'ButtonClick'" class="btn me-2" (click)="insertNewRecord()"*ngIf="getAddPermission()" >
                <mat-icon matTooltip="{{ 'Add' | translate }}">add_circle_outline</mat-icon>
            </button>
            <button appUseractivity="User Click on Download Template button"
              [componentName]="'ProductComponent'"
              [actionType]="'ButtonClick'"  class="btn" (click)="downloadTemplate()" *ngIf="getImportPermission()">
                <mat-icon matTooltip="{{ 'Download Template' | translate}}">cloud_download</mat-icon>
            </button>
            <button appUseractivity="User Click on Import button"
              [componentName]="'ProductComponent'"
              [actionType]="'ButtonClick'" class="btn me-2" (click)="fileInput.click()" *ngIf="getImportPermission()">
                <mat-icon matTooltip="{{'Import' | translate}}">file_upload</mat-icon>
            </button>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
            <button appUseractivity="User Click on Export button"
              [componentName]="'ProductComponent'"
              [actionType]="'ButtonClick'" class="btn" (click)="productListChiild.exportProducts()" *ngIf="getExportPermission()">
                <mat-icon matTooltip="{{ 'Export' | translate }}">file_download</mat-icon>
            </button>
            <button appUseractivity="User Click on Delete button"
              [componentName]="'ProductComponent'"
              [actionType]="'ButtonClick'" (click)="productListChiild.deleteMultiple()" class="btn" *ngIf="getDeletePermission()">
                <mat-icon matTooltip="{{ 'Delete' | translate }}">delete</mat-icon>
            </button>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" [class.active]="activeTab === 'Category'"
        (click)="switchTab('Category')">
        {{ 'Category' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" [class.active]="activeTab === 'Info'"
        (click)="switchTab('Info')">
        {{ 'Product' | translate }}
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" [class.active]="activeTab === 'Details'"
        (click)="switchTab('Details')">
        {{ 'Details' | translate }}
      </a>
    </li>-->
  </ul>
  
<div [ngSwitch]="activeTab">
  <div *ngSwitchCase="'Category'">
    <app-product-list #productChild (updateTableRows)="categoryTableDataUpdate($event)"
                      [columnsDisplayAry]="categoryTableColumnAry" [headerDisplayAry]="categoryTableHeaderAry"
                      [listAry]="categoriesList" [editRoleId]="'Permissions.Category.Edit'" [deleteRoleId]="'Permissions.Category.Delete'" [currentTab]="activeTab">
    </app-product-list>
  </div>

  <div *ngSwitchCase="'Info'">
    <app-product-list   (loadingChange)="onLoadingChange($event)" #productChild (updateTableRows)="categoryTableDataUpdate($event)"
                      [columnsDisplayAry]="infoTableColumnAry" [headerDisplayAry]="infoTableHeaderAry" [listAry]="infoList"
                      [currentTab]="activeTab" [categoryList]="categoriesList" [editRoleId]="'Permissions.Product.Edit'" [deleteRoleId]="'Permissions.Product.Delete'">
    </app-product-list>
  
  </div>
 

  <div *ngSwitchCase="'Details'">
    <app-product-list #productChild (updateTableRows)="categoryTableDataUpdate($event)"
                      [columnsDisplayAry]="detailsTableColumnAry" [headerDisplayAry]="detailsTableHeaderAry"
                      [listAry]="detailsList" [productList]="infoList" [currentTab]="activeTab" [editRoleId]="'113'"
                      [deleteRoleId]="'114'">
    </app-product-list>
    <!--<div *ngIf="!isDataReady" class="loading-container">
      <p>Loading data, please wait...</p>
    </div>-->

  </div>
</div>
  
  

<!-- Full-page Loader -->
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>
