<div class="sidebar-wrap">
  <div class="app-brand">
    <img src="assets/images/3m-eligibility-logo.png" alt="app-logo"
      class="app-logo">
  </div>
  <div class="list-wrap">
    <mat-accordion multi>
      <mat-expansion-panel *ngIf="hasPermission('Permissions.DashBoard.Access')" [expanded]="step() === -1"
        (opened)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
          <!-- <mat-panel-title>Setup</mat-panel-title> -->
          <mat-panel-title>
            <mat-icon class="accordion-icon">grid_view</mat-icon>
            <a routerLink="setting/dashboard">{{ 'Dashboard' | translate }}</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--<mat-nav-list>
            <a *ngIf="hasPermission(9)" mat-list-item routerLink="setting/dashboard">{{ 'Dashboard' | translate }}</a>
       
          </mat-nav-list>-->
      </mat-expansion-panel>
      <!-- Setup Section -->
      <mat-expansion-panel *ngIf="hasPermission('Permissions.MasterData.Access')" [expanded]="step() === 0"
        (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <!-- <mat-panel-title>Setup</mat-panel-title> -->
          <mat-panel-title>
            <mat-icon class="accordion-icon">storage</mat-icon>
            <span>{{ 'Master Data' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <!--<a *ngIf="hasPermission(9)" mat-list-item routerLink="setting/dashboard">{{ 'Dashboard' | translate }}</a>-->
          <!-- <a *ngIf="hasPermission('9')" mat-list-item routerLink="setting/entity">{{ 'Entity' | translate }}</a> -->
          <a *ngIf="hasPermission('Permissions.ManagedList.View')" mat-list-item routerLink="setting/lists"
            matTooltip="{{ 'Lists' | translate }}">{{ 'Lists' |
            translate }}</a>
          <a *ngIf="hasPermission('Permissions.Parameter.View')" mat-list-item routerLink="setting/parameters"
            matTooltip="{{ 'Parameters' | translate }}">{{
            'Parameters' | translate }}</a>
          <a *ngIf="hasPermission('Permissions.ParameterBinding.View')" mat-list-item
            routerLink="setting/parameter-binding" matTooltip="{{ 'Parameter Binding' | translate }}">{{ 'Parameter
            Binding' | translate }}</a>
          <a *ngIf="hasPermission('Permissions.Factor.View')" mat-list-item routerLink="setting/factors"
            matTooltip="{{ 'Factors' | translate }}">{{ 'Factors' |
            translate }}</a>
          <a *ngIf="hasPermission('Permissions.Product.View')" mat-list-item routerLink="setting/products"
            matTooltip="{{ 'Products' | translate }}">{{ 'Products'
            | translate }}</a>

        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Conditions Section -->
      <mat-expansion-panel *ngIf="hasPermission('Permissions.BusinessLogic.Access')" [expanded]="step() === 1"
        (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">mediation</mat-icon>
            <span>{{ 'Business Logic' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.Rule.View')" mat-list-item routerLink="setting/rules"
            matTooltip="{{ 'Rules' | translate }}">{{ 'Rules' |
            translate }}</a>
          <a *ngIf="hasPermission('Permissions.ECard.View')" mat-list-item routerLink="setting/cards"
            matTooltip="{{ 'Cards' | translate }}">{{ 'Cards' |
            translate }}</a>
          <a *ngIf="hasPermission('Permissions.PCard.View')" mat-list-item routerLink="setting/product-cards"
            matTooltip="{{ 'Product Cards' | translate }}">{{
            'Product
            Cards' | translate
            }}</a>
          <!-- <a *ngIf="hasPermission('Permissions.Exception.View')" mat-list-item routerLink="setting/exception">{{
            'Exception Management' |
            translate }}</a> -->

        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Connections Section -->
      <mat-expansion-panel *ngIf="hasPermission('Permissions.Connections.Access')" [expanded]="step() === 2"
        (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">hub</mat-icon>
            <span>{{ 'Connections' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.Integration.View')" mat-list-item routerLink="connections/integration"
            matTooltip="{{ 'Integration' | translate }}">{{
            'Integration' | translate
            }}</a>
          <!--<a *ngIf="hasPermission(6)" mat-list-item routerLink="connections/mapping">{{ 'Mapping' | translate }}</a>-->
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Security Section -->
      <mat-expansion-panel *ngIf="hasPermission('Permissions.AccessControl.Access')" [expanded]="step() === 3"
        (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">admin_panel_settings</mat-icon>
            <span>{{ 'Access Control' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <!-- <a *ngIf="hasPermission('Permissions.User.View')" mat-list-item routerLink="security/user">{{ 'Users' |
            translate }}</a> -->
          <a *ngIf="hasPermission('Permissions.Role.View')" mat-list-item routerLink="security/role"
            matTooltip="{{ 'Roles' | translate }}">{{ 'Roles' |
            translate }}</a>
          <a *ngIf="hasPermission('Permissions.Permission.View')" mat-list-item routerLink="security/permission"
            matTooltip="{{ 'Permissions' | translate }}">{{
            'Permissions' |
            translate }}</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="hasPermission('Permissions.Approvals.Access')" [expanded]="step() === 4"
        (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">fact_check</mat-icon>
            <span>{{ 'Approvals' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.MakerChecker.View')" mat-list-item routerLink="setting/checker"
            matTooltip="{{ 'Checker' | translate }}">{{
            'Checker' | translate }}</a>
        </mat-nav-list>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.MakerChecker.View')" mat-list-item routerLink="setting/history"
            matTooltip="{{ 'History' | translate }}">{{
            'History' | translate }}</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="hasPermission('Permissions.Logs.Access')" [expanded]="step() === 5"
        (opened)="setStep(5)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">receipt_long</mat-icon>
            <span>{{ 'Audit' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.Audit.View')" mat-list-item routerLink="setting/audit-log"
            matTooltip="{{ 'Audit Log' | translate }}">{{ 'Audit Log'
            | translate }}</a>
          <!-- <a *ngIf="hasPermission('Permissions.Log.View')" mat-list-item routerLink="setting/log">{{ 'Log' | translate
            }}</a> -->

        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="hasPermission('Permissions.LimitAndCaps.Access')" [expanded]="step() === 6"
        (opened)="setStep(6)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">settings_applications</mat-icon>
            <span>{{ 'Limits and Caps' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.MakerCheckerConfig.View')" mat-list-item
            routerLink="setting/maker-checker-config" class="small-font"
            matTooltip="{{ 'Maker Checker Config' | translate }}">{{ 'Maker Checker Config' | translate }}</a>
          <!-- <a mat-list-item routerLink="configuration/exception">{{ 'Exception Config' | translate }}</a> -->
          <a *ngIf="hasPermission('Permissions.ProductCap.View')" mat-list-item routerLink="configuration/Product-Cap"
            class="small-font" matTooltip="{{ 'Maximum Percentage Per Product' | translate }}">{{ 'Maximum Percentage
            Per Product' | translate }}</a>
          <a *ngIf="hasPermission('Permissions.ProductCapAmount.View')" mat-list-item
            routerLink="configuration/Product-Cap-Amount" class="small-font"
            matTooltip="{{ 'Maximum Amount Per Product' | translate }}">{{ 'Maximum Amount Per Product' | translate
            }}</a>


        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="hasPermission('Permissions.BulkImport.Access')" [expanded]="step() === 7"
        (opened)="setStep(7)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="accordion-icon">cloud_upload</mat-icon>
            <span>{{ 'Bulk Import' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngIf="hasPermission('Permissions.BulkImport.View')" mat-list-item routerLink="setting/bulk-import"
            matTooltip="{{ 'Bulk Import' | translate }}">{{
            'Bulk Import' | translate
            }}</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>