
.table th {
    color: gray;
    font-weight: 500;
}
.download-btn {
    border: 1px solid #adb5bd;
}
.import-btn {
    border: 1px solid #adb5bd;
}

.container {
    padding: 20px;
  }
  
  table {
    width: 100%;
    background-color: #f8f8f8;
  }
  
  table tr.select-row {
    background-color: #f8f8f8 !important;
    color: #17355A;
    font-size: 14px;
  }
  
  .paginator {
    background-color: white;
  }
  
  table tr.select-row:hover {
    cursor: pointer;
    /* Change the cursor to pointer on hover */
  }
  
  .table {
    margin-top: 20px;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
  }
  
  .bgColorWhite {
    background-color: #f8f8f8;
  }
  
  .tableHeader {
    background-color: #f8f8f8;
    color: #1CAEC8;
    font-size: 16px;
    //font-weight: 600;
  }
  
  .cellStyling {
    border-bottom: 5px solid white !important;
  }
  
  .moduleLabel {
    font-size: 20px;
    font-weight: 500;
  }
  
  .card {
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .button-spacing button {
    margin-right: 15px;
  
    &:last-child {
      margin-right: 0;
      /* Remove margin for the last button */
    }
  }
  
  .form-check-label {
    display: flex;
    align-items: center;
    gap: 5px; /* Optional spacing between checkbox and label text */
    margin-bottom: 0; /* Remove extra space below label */
  }
  
  .form-check-input {
    margin-top: 0; /* Align the checkbox properly */
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-align: center;
}

.loader-content {
    display: flex;
    flex-direction: column; /* Stack spinner and text vertically */
    align-items: center;
    justify-content: center;
}

.loader-content mat-spinner {
    display: block;
    margin-bottom: 15px; /* Adds space between spinner and message */
}

.loader-content p {
    font-size: 18px;
    margin: 0;
    color: white;
}
