<div class="mb-3">
    <div class="row">
        <!-- Download Template Card -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Download Template' | translate }}</h5>
                    <div class="mt-3">
                        <label for="listDropdown">{{ 'Select Template' | translate }}</label>
                        <select id="listDropdown" class="form-select" [(ngModel)]="selectedList">
                            <option *ngFor="let item of dropdownList" [value]="item">{{ item | translate }}</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <button appUseractivity="User Click Download  button" [componentName]="'BulkImportComponent'"
                            [actionType]="'ButtonClick'" class="btn mat-button download-btn"
                            (click)="downloadTemplate()">
                            <mat-icon>cloud_download</mat-icon>
                            <span class="ms-2">{{ 'Download' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Import Card -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Import' | translate }}</h5>
                    <div class="mt-3">
                        <p class="card-text">{{ 'Upload a file for import by clicking the button below.' | translate }}
                        </p>
                    </div>
                    <div class="mt-3">
                        <button class="btn import-btn mat-button" appUseractivity="User Click on Import  button"
                            [componentName]="'BulkImportComponent'" [actionType]="'ButtonClick'"
                            (click)="fileInput.click()" *ngIf="hasPermission('Permissions.BulkImport.Import')">
                            <mat-icon>file_upload</mat-icon>
                            {{ 'Import' | translate }}
                        </button>
                        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                    </div>
                    <div class="mt-3">
                        <div *ngIf="uploadedFileName" class="mt-3">
                            <p><strong>{{ 'Uploaded File' | translate }}: </strong>{{ uploadedFileName }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div #entityTable class="mat-elevation-z8">
    <table class="bgColorWhite" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.name }} </td>
        </ng-container>

        <ng-container matColumnDef="importTime">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Import Time' | translate }}
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.importTime | date: 'short' }} </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'End Time' | translate }}
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.endTime | date: 'short' }} </td>
        </ng-container>

        <ng-container matColumnDef="totalRecords">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Total Records' | translate }}
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.totalRecords }} </td>
        </ng-container>

        <ng-container matColumnDef="successCount">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Success' | translate }} </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.successCount }} </td>
        </ng-container>

        <ng-container matColumnDef="failureCount">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Failures' | translate }}
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{ entity.failureCount }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity">
                <button mat-icon-button (click)="downloadFile(entity)" matTooltip="{{ 'Download' | translate }}"
                    *ngIf="hasPermission('Permissions.BulkImport.Download')">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row"></tr>

    </table>
    <!-- Pagination for the table -->
    <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<!-- Full-page Loader -->
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>