<div class="mb-3">
  <div>
    <p class="moduleLabel mb-2">{{ 'Eligibility Cards' | translate }}</p>
  </div>

  <!-- Search and Actions Section -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- Search Input -->
    <div class="position-relative" style="flex-grow: 1; max-width: 350px;">
      <input type="text" class="form-control me-2" style="width: 300px;" placeholder="{{ 'Search Cards' | translate }}"
        [(ngModel)]="searchTerm" (input)="applyFilter()" />
    </div>
    <!-- (input)="applyFilter($event)" -->

    <!-- Actions Buttons -->
    <div class="d-flex align-items-center ms-3">
      <button appUseractivity="User Click on Add button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  class="btn me-2"  (click)="insertNewRecord()" *ngIf="hasPermission('Permissions.ECard.Create')" >
        <mat-icon matTooltip="{{ 'Add' | translate }}">add_circle_outline</mat-icon>
      </button>
      <button appUseractivity="User Click on Download Template button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  class="btn" (click)="downloadTemplate()" >
        <mat-icon matTooltip="{{ 'Download Template' | translate }}">cloud_download</mat-icon>
      </button>
      <button appUseractivity="User Click on Import button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  class="btn" (click)="fileInput.click()" *ngIf="hasPermission('Permissions.ECard.Import')">
        <mat-icon matTooltip="{{ 'Import' | translate }}">file_upload</mat-icon>
      </button>
      <button appUseractivity="User Click on Export button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  class="btn" *ngIf="hasPermission('Permissions.ECard.Export')">
        <mat-icon matTooltip="{{ 'Export' | translate }}" (click)="exportCards()">file_download</mat-icon>
      </button>
      <input  type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
      <button appUseractivity="User Click on Delete Multiple button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  (click)="deleteCheckedMultipleCards()" class="btn" *ngIf="hasPermission('Permissions.ECard.Delete')">
        <mat-icon matTooltip="{{ 'Delete' | translate }}">delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Add/Edit Form -->
<div *ngIf="formVisible" class="card p-3 mb-3">
  <form [formGroup]="expressionForm" (ngSubmit)="submitEditForm()">
    <!-- Card Name and Card Description Row -->
    <div class="row mb-3">
      <div class="col-3">
        <label class="inputLabel" for="CardName">{{ 'Card Name' | translate }} <span class="text-danger">*</span></label>
        <input type="text" id="CardName" class="form-control" formControlName="CardName" required
          (input)="sanitizeCode($event)" maxlength="50" />
        <div *ngIf="expressionForm.get('CardName')?.invalid && expressionForm.get('CardName')?.touched"
          class="text-danger">
          {{ 'Card Name' | translate }}{{ ' is required' | translate }}
        </div>
      </div>

      <div class="col-3"> <!-- Card Description -->
        <label class="inputLabel" for="ecardDesc">{{ 'Card Description' | translate }} <span class="text-danger"></span></label>
        <input type="text" id="ecardDesc" class="form-control" formControlName="Description"
          (input)="sanitizeCode($event)" maxlength="50" />
        <!-- <div *ngIf="expressionForm.get('Description')?.invalid && expressionForm.get('Description')?.touched"
          class="text-danger">
          {{ 'Card Description' | translate }}{{ ' is required' | translate }}
        </div> -->
      </div>
    </div>

    <!-- Expression Builder -->
    <div class="row mb-3">
      <div class="col">
        <label class="inputLabel">{{ 'Open Parenthesis' | translate }}</label>
        <select class="form-control" [disabled]="isOpenParenthesis" (change)="onSelect('openParenthesis', $event)">
          <option value="" disabled selected>{{ 'Open Parenthesis' | translate }}</option>
          <option *ngFor="let item of openParanthesis" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="col">
        <label class="inputLabel">{{ 'Rule Name' | translate }}</label>
        <select class="form-control" [disabled]="isRuleDisabled" (change)="onSelect('rule', $event)">
          <option value="" disabled selected>{{ 'Rule Name' | translate }}</option>
          <option *ngFor="let rule of rules" [value]="rule.eruleName">{{ rule.eruleName }}</option>
        </select>
      </div>
      <div class="col">
        <label class="inputLabel">{{ 'Function' | translate }}</label>
        <select class="form-control" [disabled]="isLogicalOperator" (change)="onSelect('logicalOperator', $event)">
          <option value="" disabled selected>{{ 'Function' | translate }}</option>
          <option *ngFor="let logical of logicalOperator" [value]="logical">{{ logical }}</option>
        </select>
      </div>
      <div class="col">
        <label class="inputLabel">{{ 'Close Parenthesis' | translate }}</label>
        <select class="form-control" [disabled]="isCloseParenthesis" (change)="onSelect('closeParenthesis', $event)">
          <option value="" disabled selected>{{ 'Close Parenthesis' | translate }}</option>
          <option *ngFor="let item of closeParanthesis" [value]="item">{{ item }}</option>
        </select>
      </div>
    </div>

    <div class="d-flex flex-wrap align-items-center">
      <!-- Expression Textarea -->
      <textarea formControlName="Expshown" class="flex-grow-1" readonly>{{ expshown }}</textarea>

      <!-- Buttons -->
      <button appUseractivity="User Click on Clear button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'"  class="clearBtn" type="button" mat-raised-button (click)="resetExpression()">{{ 'Clear' | translate
        }}</button>
      <button appUseractivity="User Click on Remove button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'" class="removeBtn" type="button" mat-raised-button (click)="removeLastItem()">{{ 'Remove' | translate
        }}</button>
      <button appUseractivity="User Click on Validate button"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'" class="validateBtn" type="button" mat-raised-button (click)="openValidatorDialog(expshown)">{{ 'Validate'
        | translate }}</button>
      <button [appUseractivity]="isInsertNewRecord ? 'Add button clicked' : 'Update button clicked'"
              [componentName]="'EligibilityCardsComponent'"
              [actionType]="'ButtonClick'" class="addBtn" type="submit" mat-flat-button [disabled]="expressionForm.invalid">
        {{ isInsertNewRecord ? ('Add' | translate) : ('Update' | translate) }}
      </button>
      <button class="cancelBtn" type="button" mat-raised-button (click)="closeForm()">{{ 'Cancel' | translate
        }}</button>
    </div>

    <div *ngIf="selectedRules.length > 0" class="mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'Rule Name' | translate }}</th>
            <th>{{ 'Expression' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of selectedRules">
            <td>{{ rule.eruleName }}</td>
            <td>{{ rule.expShown }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>{{ 'Equivalent Expression' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ combinevalue }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<app-table #tableChild [cols]="cardsColumnsAry" [checkedSelectedId]="deleteKeyForMultiple" [rows]="filteredCards"
  [displayedColumns]="cardsColumnsAry" [header]="cardsHeaderAry" (actionEvent)="tableRowAction($event)"
  [hasValidationAction]="true" [editPermissionId]="'Permissions.ECard.Edit'" [deletePermissionId]="'Permissions.ECard.Delete'" [validatePermissionId]="'65'">
</app-table>

<!-- Full-page Loader -->
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>

