<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="me-auto">
        <h4 class="mb-0">{{ activeTabTitle | translate }}</h4>
    </div>
</div>

<div class="row">
    <div class="card p-3 mb-3 d-flex flex-row justify-content-between align-items-center">
        <div class="col-4" *ngIf="activeTab === 'AssignedPermissions'">
            <label class="inputLabel">{{ 'Assigned Permissions' | translate }}</label>
            <select #parameterSelect class="form-control" [(ngModel)]="selectedGroupId" (change)="onSelect($event)">
                <option value="null" disabled [selected]="selectedGroupId === null">{{ 'Select' | translate }}</option>
                <option *ngFor="let param of records" [value]="param.groupId">
                    {{ param.groupName }}
                </option>
            </select>
            <div *ngIf="isSuperAdminSelected()" class="text-danger mt-1 ms-3"
                style="font-size: 15px; line-height: 1.2;">
                {{ 'Super Admin permissions cannot be removed.' | translate }}</div>
        </div>


        <div class="col-4" *ngIf="activeTab === 'AvailablePermissions'">
            <input type="text" class="form-control me-2" style="width: 300px;" placeholder="{{ 'Search' | translate }}"
                (input)="applyFilter($event)" [(ngModel)]="searchTerm" />
        </div>
        <div class="col-auto" *ngIf="activeTab === 'AssignedPermissions'">
            <button appUseractivity="User Click on Remove Permission button" [disabled]="isSuperAdminSelected()"
                [componentName]="'PermissionComponent'" [actionType]="'ButtonClick'"
                class="cancelBtn btn-outline-secondary" style="min-width: 125px !important;"
                (click)="deletePermission()">
                {{ 'Remove Permission' | translate }}
            </button>

        </div>

        <div class="col-auto" *ngIf="activeTab === 'AvailablePermissions'">
            <button appUseractivity="User Click on Add Permission button" [componentName]="'PermissionComponent'"
                [actionType]="'ButtonClick'" class="addBtn btn-outline-secondary" (click)="addPermission()">
                {{ 'Add Permission' | translate }}
            </button>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'AssignedPermissions'"
            (click)="switchTab('AssignedPermissions')">
            {{ 'Assigned Permissions' | translate }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'AvailablePermissions'"
            (click)="switchTab('AvailablePermissions')">
            {{ 'Available Permissions' | translate }}
        </a>
    </li>
</ul>

<!-- Assigned Permissions Table -->
<div *ngIf="activeTab === 'AssignedPermissions'">
    <div *ngIf="permissionAssignedDataSource.data.length === 0" class="text-center text-muted">
        {{ 'No items to show...' | translate }}
    </div>
    <table mat-table [dataSource]="permissionAssignedDataSource" matSort
        *ngIf="permissionAssignedDataSource.data.length > 0">
        <ng-container matColumnDef="select">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef>
                <!-- Optional header for checkbox -->
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity">
                <mat-checkbox [(ngModel)]="entity.selected" (change)="onCheckboxChange(entity)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="permissionAction">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{
                formatPermissionAction(entity.permissionAction) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="combinedColumns" class="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: combinedColumns;"></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<!-- Available Permissions Table -->
<div *ngIf="activeTab === 'AvailablePermissions'">
    <div *ngIf="permissionUnassignedDataSource.data.length === 0" class="text-center text-muted">
        {{ 'No items to show...' | translate }}
    </div>
    <table class="bgColorWhite" mat-table [dataSource]="permissionUnassignedDataSource" matSort
        *ngIf="permissionUnassignedDataSource.data.length > 0">
        <ng-container matColumnDef="select">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef>
                <!-- Optional header for checkbox -->
            </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity">
                <mat-checkbox [(ngModel)]="entity.selected" (change)="onCheckboxChange(entity)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="permissionAction">
            <th class="cellStyling" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
            <td class="cellStyling" mat-cell *matCellDef="let entity"> {{
                formatPermissionAction(entity.permissionAction) }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="combinedColumns" class="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: combinedColumns;" class="select-row"></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
<app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>