.drawer-wrapper {
    height: 100vh;
}

.header-wrap {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
    color: black;
    margin: 25px;
}

.example-sidenav {
    width: 280px;
    border-radius: 0px;
    height: 100vh;
    color: black;
}

.example-sidenav-content {
    padding: 16px;
    color: black;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    margin: 35px;
    //padding: 16px;
    color: black;
    background-color: white;
}