<app-spinner [isLoading]="(loadingService.loading$ | async) ?? false"
    [message]="(loadingService.message$ | async) ?? ''"></app-spinner>

<mat-drawer-container class="drawer-wrapper" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content class="main-container">
        <app-header (menuToggle)="drawer.toggle()"></app-header>
        <main class="content-scroll">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-drawer-content>

</mat-drawer-container>