<div class="container">
    <!-- Search and Actions -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="me-auto">
            <p class="moduleLabel">{{ (activeTab === 'personalDetails' ? 'Personal Details' : activeTab ===
                'changeEmail'
                ? 'Change Email' : 'Change Password') | translate }}
            </p>
            <span style="color: #6b6b6b; font-size: 0.8rem;"
                [innerHTML]="activeTab === 'personalDetails' ? personalText : activeTab === 'changeEmail' ? changeEmailText : changePasswordText">
            </span>

        </div>
        <div class="d-flex align-items-center position-relative">
            <button appUseractivity="User Click on Update Changes button" [componentName]="'UserProfileComponent'"
                [actionType]="'ButtonClick'" class="btn btn-outline-secondary" (click)="updateUser()"
                *ngIf="hasPermission('138')">
                {{ 'Update Changes' | translate }}
            </button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'personalDetails'" (click)="switchTab('personalDetails')">
                {{ 'Personal Details' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'changeEmail'" (click)="switchTab('changeEmail')">
                {{ 'Change Email' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'changePassword'" (click)="switchTab('changePassword')">
                {{ 'Change Password' | translate }}
            </a>
        </li>
    </ul>

    <div *ngIf="personalFormVisible" class="card p-3 mb-3">
        <form (ngSubmit)="updateUser()">
            <div class="row">
                <div class="col form-group">
                    <label>{{ 'LoginId' | translate }}</label>
                    <input type="text" disabled class="form-control" [(ngModel)]="personalformData.loginId"
                        name="loginId" required />
                </div>
                <div class="col">
                    <label>{{ 'Phone Number' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="personalformData.phone" name="phone"
                        required />
                </div>
                <div class="col">
                    <label>{{ 'Entity' | translate }}</label>
                    <input type="text" disabled class="form-control" [(ngModel)]="personalformData.entityName"
                        name="entityName" required />
                </div>
            </div>
            <br>
            <div class="row">
                <label>{{ 'Group' | translate }}</label>
                <div *ngFor="let group of groupsRecord" class="col-2">
                    <input type="text" [value]="group.groupName | translate" disabled class="form-control" />
                </div>
            </div>


        </form>
    </div>

    <div *ngIf="changeEmailformVisible" class="p-3 mb-3">
        <form (ngSubmit)="updateUser()">
            <div class="row">
                <div class="col-6 form-group">
                    <label>{{ 'Your Email' | translate }}</label>
                    <input type="text" disabled class="form-control" [(ngModel)]="personalformData.email" name="email"
                        required />
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="cngPassFormVisible" class="p-3 mb-3">
        <form>
            <div class="row">
                <div class="col-6 form-group">
                    <label>{{ 'Your Current Password' | translate }}</label>
                    <input type="password" class="form-control" [(ngModel)]="changePassformData.currentPassword"
                        name="userPassword" required />

                    <label>{{ 'New Password' | translate }}</label>
                    <input type="password" class="form-control" [(ngModel)]="changePassformData.newPassword"
                        name="newPassword" required />

                    <label>{{ 'Re-enter New Password' | translate }}</label>
                    <input type="password" class="form-control" [(ngModel)]="changePassformData.confirmNewPassword"
                        name="confirmNewPassword" required />
                </div>
            </div>
        </form>
    </div>
</div>