<div class="mb-3">
  <div>
    <p class="moduleLabel mb-2">{{ 'Maximum Amount Per Product' | translate }}</p>
  </div>

  <div class="filter-bar">
    <div class="search-box">
      <!-- Added for consistency if needed later -->
    </div>
    <div class="action-group" *ngIf="ProductCapForm.get('productId')?.value">
      <button appUseractivity="User Click on Add Product Cap Amount button"
        [componentName]="'ProductCapAmountComponent'" [actionType]="'ButtonClick'" class="clickable-icon"
        (click)="addProductCap()" matTooltip="{{ 'Add New' | translate }}"
        *ngIf="hasPermission('Permissions.ProductCapAmount.Create')">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="card p-3" *ngIf="!isLoading">
  <form [formGroup]="ProductCapForm">
    <div class="row mb-3">
      <div class="col-4">
        <label class="inputLabel">{{ 'Select Product' | translate }}</label>
        <select class="form-control" formControlName="productId">
          <option value="" disabled>{{ 'Choose Product' | translate }}</option>
          <option *ngFor="let product of productsList" [value]="product.productId">
            {{ product.productName }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Loading Message -->
<!-- <div class="loading-container" *ngIf="!isLoading">
  <p>Loading data, please wait...</p>
</div> -->

<!-- Add/Edit Form -->
<div class="card p-3" *ngIf="formvisible">
  <form [formGroup]="ProductCapForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3 align-items-start">
      <input type="number" hidden class="form-control" formControlName="id" />

      <!--<div class="col-md-4">
        <label class="inputLabel">Activity<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="activity" />
        <div class="text-danger"
             *ngIf="ProductCapForm.get('activity')?.touched && ProductCapForm.get('activity')?.hasError('required')">
          Activity  is required.
    </div> 
      </div>-->

      <!--<div class="col-md-4">
        <label class="inputLabel">Max Cap Per Stream <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="maxCapPerStream" />
        <div class="text-danger"
             *ngIf="ProductCapForm.get('maxCapPerStream')?.touched && ProductCapForm.get('maxCapPerStream')?.hasError('required')">
          Max Cap Per Stream  is required.
        </div>
        <div class="text-danger"
             *ngIf="ProductCapForm.get('maxCapPerStream')?.hasError('pattern') &&
              ProductCapForm.get('maxCapPerStream')?.value">
          Max Cap Per Stream must be a number.
        </div>-->
      <!--<div class="text-danger" *ngIf="ProductCapForm.errors?.['maxLessThanMin'] &&
      (ProductCapForm.get('maximumScore')?.touched || ProductCapForm.get('maximumScore')?.dirty)">
    Maximum Score must be greater than or equal to Minimum Score.
  </div>-->
      <!--</div>-->

      <!-- Product Cap -->
      <div class="col-md-4">
        <label class="inputLabel">{{ 'Age Criteria' | translate }}<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="age" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('age')?.touched && ProductCapForm.get('age')?.hasError('required')">
          {{ 'Age is required.' | translate }}
        </div>

      </div>

      <!-- Custom validation message in one line -->
      <!--<div class="col-12 text-danger mt-2" *ngIf="showMinMaxError">
    Minimum Score must be less than or equal to Maximum Score.
  </div>-->

      <div class="col-md-4">
        <label class="inputLabel">{{ 'Salary Criteria' | translate }}<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="salary" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('salary')?.touched && ProductCapForm.get('salary')?.hasError('required')">
          {{ 'Salary is required.' | translate }}
        </div>

      </div>
      <div class="col-md-4">
        <label class="inputLabel">{{ 'Amount' | translate }}<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="amount" />
        <div class="text-danger"
          *ngIf="ProductCapForm.get('amount')?.touched && ProductCapForm.get('amount')?.hasError('required')">
          {{ 'Amount is required.' | translate }}
        </div>
        <div class="text-danger" *ngIf="ProductCapForm.get('amount')?.hasError('pattern') &&
        ProductCapForm.get('amount')?.value">
          {{ 'Amount must be a number.' | translate }}
        </div>

      </div>
      <!--<input type="hidden" formControlName="productName" />-->
    </div>

    <!-- <div class="row mb-3">

    </div> -->
    <!-- Buttons -->
    <div class="text-end">
      <button class="addBtn me-2" [appUseractivity]="!isEditMode ? 'Add button clicked' : 'Update button clicked'"
        [componentName]="'ProductCapAmountComponent'" [actionType]="'FormSubmit'" type="submit"
        [disabled]="ProductCapForm.invalid" mat-flat-button>
        {{ isEditMode ? ('Update' | translate) : ('Add' | translate) }}
      </button>
      <button class="cancelBtn" appUseractivity="User Click on cancel button"
        [componentName]="'ProductCapAmountComponent'" [actionType]="'ButtonClick'" type="button" (click)="resetForm()"
        mat-raised-button> {{ 'Cancel' | translate }}</button>
    </div>
  </form>
</div>
<div class="card p-3" *ngIf="ProductCapForm.get('productId')?.value">

  <div #entityTable class="table-wrapper">
    <!-- Table if data exists -->
    <table class="bgColorWhite " mat-table [dataSource]="selectedProductData" matSort
      appAutoSort appAutoSortColumn="productName" appAutoSortDirection="asc">

      <!-- Optional ID column -->
      <!--<ng-container hidden matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>-->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Product Name' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <!--<ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef>Activity</th>
        <td mat-cell *matCellDef="let element">{{ element.activity }}</td>
      </ng-container>-->

      <ng-container matColumnDef="maxCapPerStream">
        <th mat-header-cell *matHeaderCellDef>{{ 'Max Cap Per Product' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.maxCapPerStream }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Age Criteria' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
      </ng-container>

      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Salary Criteria' | translate }}
        <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Amount' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-left"> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <div class="cell-actions" style="display: flex; justify-content: flex-end; gap: 8px;">
            <mat-icon class="clickable-icon edit" appUseractivity="User Click on Edit Product Cap Amount button"
              [componentName]="'ProductCapAmountComponent'" [actionType]="'ButtonClick'"
              (click)="editProductCapAmount(element)" *ngIf="hasPermission('Permissions.ProductCapAmount.Edit')">
              edit_note
            </mat-icon>
            <mat-icon class="clickable-icon delete" appUseractivity="User Click on Delete Product Cap Amount button"
              [componentName]="'ProductCapAmountComponent'" [actionType]="'ButtonClick'"
              (click)="deleteProductCapAmount(element)" *ngIf="hasPermission('Permissions.ProductCapAmount.Delete')">
              delete_outline
            </mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="select-row"></tr>
    </table>
  </div>
  <!-- Message when no data -->
  <div *ngIf="selectedProductData.data.length === 0" class="text-center text-muted mt-3">
    <p>{{ 'No Product Cap Amount available for the selected Product.' | translate }}</p>
  </div>
</div>
<app-spinner [isLoading]="isLoading" [message]="message"></app-spinner>
