<div class="lists-page">
  <span class="moduleLabel">{{ 'Manage Lists' | translate }}</span>

  <!-- Search and Actions Top Bar -->
  <div class="filter-bar">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" class="filter-input" [(ngModel)]="searchTerms[activeTab]" (input)="applyFilter($event)"
        placeholder="{{ 'Search Lists' | translate }}" />
    </div>

    <div class="action-group d-flex gap-2">
      <button appUseractivity="User Click on Add button" [componentName]="'ListComponent'" [actionType]="'ButtonClick'"
        class="clickable-icon" (click)="addList()" *ngIf="getAddPermission()">
        <mat-icon matTooltip="{{ 'Add List' | translate }}">add_circle_outline</mat-icon>
      </button>

      <button appUseractivity="User Click on Download Template button" [componentName]="'ListComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="downloadTemplate()" *ngIf="getImportPermission()">
        <mat-icon matTooltip="{{ 'Download Template' | translate }}">cloud_download</mat-icon>
      </button>

      <button appUseractivity="User Click on Import button" [componentName]="'ListComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="fileInput.click()" *ngIf="getImportPermission()">
        <mat-icon matTooltip="{{ 'Import' | translate }}">upload</mat-icon>
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />

      <button appUseractivity="User Click on Export button" [componentName]="'ListComponent'"
        [actionType]="'ButtonClick'" class="clickable-icon" (click)="ExportLists()" *ngIf="getExportPermission()">
        <mat-icon matTooltip="{{ 'Export' | translate }}">download</mat-icon>
      </button>

      <button appUseractivity="User Click on Delete Multiple button" [componentName]="'ListComponent'"
        [actionType]="'ButtonClick'" (click)="deleteSelectedLists()" class="clickable-icon"
        *ngIf="getDeletePermission()">
        <mat-icon matTooltip="{{ 'Delete' | translate }}">delete_outline</mat-icon>
      </button>
    </div>
  </div>

  <!-- Redesigned Tabs -->
  <div class="tab-bar tab-nav">
    <div class="tab-item" [class.active]="activeTab === 'lists'" (click)="switchTab('lists')">
      {{ 'Lists' | translate }}
    </div>
    <div class="tab-item" [class.active]="activeTab === 'listitems'" (click)="switchTab('listitems')">
      {{ 'List Items' | translate }}
    </div>
  </div>

  <ng-container *ngIf="activeTab == 'lists'">
    <!-- Add/Edit Form -->
    <div *ngIf="formVisible" class="card p-3 mb-3">
      <form #form="ngForm" (ngSubmit)="submitEditForm(form)">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="inputLabel" for="listNameTxt">{{ 'List Name' | translate }} <span
                class="text-danger">*</span></label>
            <input class="form-control" [(ngModel)]="formData.listName" name="listName" required #listName="ngModel"
              maxlength="50" (input)="sanitizeCode($event)" id="listNameTxt">
            <div *ngIf="listName.invalid && listName.touched" class="text-danger">
              {{ 'List Name' | translate }}{{ ' is required' | translate }}
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-end">
          <button [appUseractivity]="!isEditMode ? 'Add button clicked' : 'Update button clicked'"
            [componentName]="'ListComponent'" [actionType]="'FormSubmit'" type="submit" class="addBtn me-2"
            [disabled]="form.invalid" mat-flat-button>
            {{ isEditMode ? ('Update' | translate) : ('Add' | translate) }}
          </button>
          <button appUseractivity="User Click on Cancel button" [componentName]="'ListComponent'"
            [actionType]="'ButtonClick'" type="button" class="cancelBtn" (click)="closeForm()" mat-raised-button>
            {{ 'Cancel' | translate }}
          </button>
        </div>
      </form>
    </div>

    <!-- Lists Table -->
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort #listsSort="matSort" appAutoSort
          appAutoSortColumn="createdDate" appAutoSortDirection="desc" class="mat-mdc-table">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="isAllSelected()" [indeterminate]="selectedRows.size > 0 && !isAllSelected()"
              (change)="toggleSelectAll($event)"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="selectedRows.has(row.listId)"
              (change)="toggleSelection($event, row.listId)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="listName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'List Name' | translate }}</th>
          <td mat-cell *matCellDef="let list" class="simple-text">{{ list.listName }}</td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Created By' | translate }}
          </th>
          <td mat-cell *matCellDef="let entity">{{ entity.createdBy }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Created Date' | translate }}</th>
          <td mat-cell *matCellDef="let entity">{{ entity.createdByDateTime | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Updated By' | translate }}
          </th>
          <td mat-cell *matCellDef="let entity">{{ entity.updatedBy }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Updated Date' | translate }}</th>
          <td mat-cell *matCellDef="let entity">{{ entity.updatedByDateTime | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-left"> {{ 'Actions' | translate }} </th>
          <td mat-cell *matCellDef="let list">
            <div class="cell-actions">
              <mat-icon class="clickable-icon edit" appUseractivity="User Click on Edit button"
                [componentName]="'ListComponent'" [actionType]="'ButtonClick'" (click)="editList(list)"
                matTooltip="{{ 'Edit' | translate }}"
                *ngIf="hasPermission('Permissions.ManagedList.Edit')">edit_note</mat-icon>
              <mat-icon class="clickable-icon delete" appUseractivity="User Click on Delete button"
                [componentName]="'ListComponent'" [actionType]="'ButtonClick'" (click)="deleteList(list)"
                matTooltip="{{ 'Delete' | translate }}"
                *ngIf="hasPermission('Permissions.ManagedList.Delete')">delete_outline</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator #listsPaginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </ng-container>

  <ng-container *ngIf="activeTab == 'listitems'">
    <!-- List Items Form -->
    <div *ngIf="listItemFormVisible" class="card p-3 mb-3">
      <form #form="ngForm" (ngSubmit)="submitEditForm(form)">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="inputLabel" for="codeTxt">{{ 'Code' | translate }} <span class="text-danger">*</span></label>
            <input class="form-control" [(ngModel)]="listItemFormData.code" name="code" required #code="ngModel"
              maxlength="50" (input)="sanitizeCode($event)" id="codeTxt">
            <div *ngIf="code.invalid && code.touched" class="text-danger">
              {{ 'Code is required' | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="inputLabel" for="listIdDd">{{ 'List Name' | translate }} <span
                class="text-danger">*</span></label>
            <select class="form-control" [(ngModel)]="listItemFormData.listId" name="listName" required
              #listName="ngModel" id="listIdDd">
              <option value="" disabled selected>{{ 'List Name' | translate }}</option>
              <option *ngFor="let list of listItems" [value]="list.listId">
                {{ list.listName }}
              </option>
            </select>
            <div *ngIf="listName.invalid && listName.touched" class="text-danger">
              {{ 'List Name is required' | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="inputLabel" for="itemNameTxt">{{ 'Item Name' | translate }} <span
                class="text-danger">*</span></label>
            <input class="form-control" [(ngModel)]="listItemFormData.itemName" name="itemName" required
              #itemName="ngModel" maxlength="50" (input)="sanitizeCode($event)" id="itemNameTxt">
            <div *ngIf="itemName.invalid && itemName.touched" class="text-danger">
              {{'Item Name is required' | translate}}
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-end">
          <button [appUseractivity]="!listItemisEditMode ? 'Add button clicked' : 'Update button clicked'"
            [componentName]="'ListComponent'" [actionType]="'FormSubmit'" type="submit" class="addBtn me-2"
            [disabled]="form.invalid" mat-flat-button>
            {{ listItemisEditMode ? ('Update' | translate) : ('Add' | translate) }}
          </button>
          <button appUseractivity="User Click on Cancel button" [componentName]="'ListComponent'"
            [actionType]="'ButtonClick'" type="button" class="cancelBtn" (click)="closeForm()" mat-raised-button>
            {{ 'Cancel' | translate }}
          </button>
        </div>
      </form>
    </div>

    <!-- Items Table -->
      <div class="table-wrapper">
        <table mat-table [dataSource]="listItemDataSource" matSort #listItemsSort="matSort"
          appAutoSort appAutoSortColumn="createdDate" appAutoSortDirection="desc" class="mat-mdc-table">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="isAllSelected()" [indeterminate]="selectedRows.size > 0 && !isAllSelected()"
              (change)="toggleSelectAll($event)"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="selectedRows.has(row.itemId)"
              (change)="toggleSelection($event, row.itemId)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Code' | translate }}</th>
          <td mat-cell *matCellDef="let list" class="simple-text">{{ list.code }}</td>
        </ng-container>

        <ng-container matColumnDef="listName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'List Name' | translate }}</th>
          <td mat-cell *matCellDef="let list">{{ getListName(list.listId, list) }}</td>
        </ng-container>

        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Item Name' | translate }}</th>
          <td mat-cell *matCellDef="let list">{{ list.itemName }}</td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Created By' | translate }}
          </th>
          <td mat-cell *matCellDef="let entity">{{ entity.createdBy }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Created Date' | translate }}</th>
          <td mat-cell *matCellDef="let entity">{{ entity.createdByDateTime | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Updated By' | translate }}
          </th>
          <td mat-cell *matCellDef="let entity">{{ entity.updatedBy }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Updated Date' | translate }}</th>
          <td mat-cell *matCellDef="let entity">{{ entity.updatedByDateTime | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-left"> {{ 'Actions' | translate }} </th>
          <td mat-cell *matCellDef="let list">
            <div class="cell-actions">
              <mat-icon class="clickable-icon edit" appUseractivity="User Click on Edit button"
                [componentName]="'ListComponent'" [actionType]="'ButtonClick'" (click)="editList(list)"
                matTooltip="{{ 'Edit' | translate }}"
                *ngIf="hasPermission('Permissions.ListItem.Edit')">edit_note</mat-icon>
              <mat-icon class="clickable-icon delete" appUseractivity="User Click on Delete button"
                [componentName]="'ListComponent'" [actionType]="'ButtonClick'" (click)="deleteList(list)"
                matTooltip="{{ 'Delete' | translate }}"
                *ngIf="hasPermission('Permissions.ListItem.Delete')">delete_outline</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="listItemdisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: listItemdisplayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator #listItemsPaginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </ng-container>

  <app-spinner [isLoading]="isLoading || isDownloading || isUploading" [message]="message"></app-spinner>
</div>
