.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-align: center;
  }
  
  .loader-content {
    display: flex;
    flex-direction: column; /* Stack spinner and text vertically */
    align-items: center;
    justify-content: center;
  }
  
  .loader-content mat-spinner {
    display: block;
    margin-bottom: 15px; /* Adds space between spinner and message */
  }
  
  .loader-content p {
    font-size: 18px;
    margin: 0;
    color: white;
  }
