.container {
  padding: 20px;
}

table {
  width: 100%;
  background-color: #f8f8f8;
}

table tr.select-row {
  background-color: #f8f8f8 !important;
  color: #17355A;
  font-size: 14px;
}

.paginator {
  background-color: white;
}

table tr.select-row:hover {
  cursor: pointer;
  /* Change the cursor to pointer on hover */
}

.table {
  margin-top: 20px;
}

.dropdown-menu {
  display: block;
  position: absolute;
}

.bgColorWhite {
  background-color: #f8f8f8;
}

.tableHeader {
  background-color: #f8f8f8;
  color: #1CAEC8;
  font-size: 16px;
  //font-weight: 600;
}

.cellStyling {
  border-bottom: 5px solid white !important;
}

.moduleLabel {
  font-size: 20px;
  font-weight: 500;
}

.card {
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-spacing button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
    /* Remove margin for the last button */
  }
}

.status-button {
  margin-left: -7px; /* shifts button to the left */
  line-height: 1;
  padding: 2px 8px;
  min-width: unset;
  height: auto;
  font-size: 14px;
  vertical-align: middle;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: 18px;
  color: #666;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  background-color: #f8f8f8;
}

table tr.select-row {
  background-color: #f8f8f8 !important;
  color: #17355A;
  font-size: 14px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents table from wrapping */
}

.table-wrapper table {
  min-width: 1000px; /* Ensures table doesn't shrink too much */
  width: 100%;
}


.paginator {
  background-color: white;
}

table tr.select-row:hover {
  cursor: pointer;
  /* Change the cursor to pointer on hover */
}

.table {
  margin-top: 20px;
}

.dropdown-menu {
  display: block;
  position: absolute;
}

.bgColorWhite {
  background-color: #f8f8f8;
}

.tableHeader {
  background-color: #f8f8f8;
  color: #1CAEC8;
  font-size: 16px;
  //font-weight: 600;
}

.cellStyling {
  border-bottom: 5px solid white !important;
}

.moduleLabel {
  font-size: 20px;
  font-weight: 500;
}

.card {
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-spacing button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
    /* Remove margin for the last button */
  }
}

.form-check-label {
  display: flex;
  align-items: center;
  gap: 5px; /* Optional spacing between checkbox and label text */
  margin-bottom: 0; /* Remove extra space below label */
}

.form-check-input {
  margin-top: 0; /* Align the checkbox properly */
}




