.red-outline-icon {
  border: 2px solid red;
  border-radius: 50%;
  padding: 4px;
  background: transparent;
  color: red;

  mat-icon {
    vertical-align: middle;
  }

  &:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}
